<div class="container">
  <h1 class="text-center my-4">Your's Details :</h1>
  <div class="row">
    <div class="px-4 mx-auto card">
      <%=image_tag @client.avatar.cover.url, class: "card-img-top mt-3", id: "user_cover_image" %>
      <div class="card-body"></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Industry : <%= @client.industry%> </li>
      </ul>
      <div class="card-body">
        <%= link_to "Edit Details", edit_client_path(@client), class: "btn btn-primary my-2" %>
      </div>
    </div>
  </div>
</div>